{{#each this}}
<li class="menu">
    <a href="{{url}}" target="_blank" rel="noopener noreferren">
        <article class="list_item">
            <img src="{{urlToImage}}" alt="" class="article_img">
            <h2 class="article_title">{{content}}</h2>
            <p class="article_autchor"> Posted by: {{autchor}}</p>
            <p class="description">{{description}}</p>
        </article>
    </a>

</li>
{{/each}}