<article>
    <div>{{name}}</div>
    <div>{{height}}</div>
    <div>{{homeworld}}</div>
    <div>{{birth_year}}</div>
    <div>{{films}}</div>
    <div>{{starships}}</div>
    <div>{{url}}</div>
    <div>{{vehicles}}</div>
    <div>{{homeworld}}</div>
</article>